node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# Ignore Allure report directory
allure-report/
# Ignore Allure results directory
allure-results/
# Ignore package-lock.json
package-lock.json
dist/